/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 
 /* ===============================
   common part ends here 
================================== */

* {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

button:focus {
    outline: 0;
}

body {}

p{
	font-size: 16px;
}

h3{
	font-weight: 700;
}

button,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
img,
address,
figure,
figcaption {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Poppins', sans-serif;
}

/* ===============================
   common part ends here 
================================== */


.banner-area{
	background: url(../images/banner.jpg);
	background-position: center;
	background-size: cover;
}

.banner-area .banner-overlay{
	/*background: rgba(0, 0, 0, 0.7);*/
	height: 700px;display: flex;
  align-items: center;
}

.bg-content{
	background:  rgba(0, 0, 0, 0.7);
	padding: 100px 50px;
	text-align: center;
}
.bg-content h2{
	color: #fff;
	font-size: 42px;
	font-weight: 700;
}
.bg-content p{
	color: #fff;
	padding-top: 20px;
}


.icon-box {
	border-right: 1px solid rgba(0,0,0, 0.4);
	margin-right: 30px;
}


.icon-box i {
    color: #fff;
    height: 50px;
    width: 50px;
    font-size: 25px;
    background: #79AA00;
    line-height: 50px;
    border-radius: 50%;
}


.icon-box .content{
	padding-left: 20px;
}

.icon-box .content h4{
	font-size: 22PX;
	color: #333;
}

.icon-box p{
	padding-top: 5px;
}

.icon-box p a{
	color: #000;
}

.info-area{
	padding-bottom: 80px;
	margin-top: -100px;
}
.info{
	background: #fff;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	padding: 60px 40px;
}

.tab-area{
	margin-bottom: 40px;
	border-bottom: 2px solid rgba(0,0,0, 0.5);
}

.nav-tabs {
    border-bottom: 0;
}

.nav-link{
	padding: 10px 30px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #79AA00 !important;
    border-color: 0;
    border-radius: 0;
}


.pricing .nav-tabs .nav-link {
    background: #222;
    border: none;
    color: #fff;
    border-radius: 0;
    text-transform: capitalize;
    font-size: 18px;
}

.pricing input#inlineFormInput {
    padding: 10px;
    border-radius: 0;
}

.pricing button.btn.btn-primary.mb-2,
.pricing .button-area button {
    padding: 10px 30px;
    border: 1px solid #222;
    background: #222;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0;
}

.card-header {
    padding: 0px;
}


.card-header .btn-link{
	outline: none;
}
.card-header .btn-link:hover{
	background: #79AA00;
	outline: none;
    text-decoration: none;
}
.card-header button {
    background: #79AA00;
    width: 100%;
    text-align: left;
    padding: 15px 0px;
    padding-left: 30px;
    border-radius: 0;
    text-decoration: none;
    outline: none;
}

.card-header h4 {
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin: 0;
}

.pricing{
	padding-bottom: 80px;
}

.pricing h3{
	font-size: 32px;
	font-weight: 700;
	color: #333;
}

.step-3{
	padding-top: 50px;
}

.step-3 h3 a{
	color: #79AA00;
}

.step-3 p{
	padding: 15px 0px;
}

.testimonial-area{
	background: #79AA00;
	padding: 80px 0px;
}

.test-img img{
	margin-top: 100px;
}
.test-box{
	background: #fff;
	padding: 30px 20px;
	height: 400px;
}

.testimonial-area h3{
	font-size: 32px;
	color: #fff;
}

.testimonial-area p{
	color: #fff;
	padding-bottom: 30px;
}

.test-box p{
	color: #000;
}

.test-box h5{
	font-size: 16px;
	padding-bottom: 20px;
	line-height: 26px;
	font-weight: 600;
}

.test-box ul li i{
	font-size: 20px;
	color: #c33;
}

.call-to-action{
	padding: 100px 0px;
	background: #222;
}

.call-to-action h3{
	font-size: 40px;
	color: #fff;
	padding-top: 20px;
	font-weight: 700;
}
.call-to-action h4{
	font-size: 22px;
	color: #fff;
	padding: 15px 0px;
}
.call-to-action p{
	color: #fff;
}

li.junk-items {
    display: inline-block;
    width: 100%;
    border: 1px solid #f2f2f2;
    margin-bottom: 10px;
}

li.junk-items span {
    line-height: 40px;
    padding: 14px;
}

button.junk-item-btn {
    float: right;
}

.alert-message h4 {
    margin: 0;
    padding: 0;
    line-height: 50px;
    color: red;
}

/* modals css start */

.modal-header{
	border-bottom: 0;
}

h4#exampleModalLabel{
	font-size: 30px;
	font-weight: 600;
	color: #fff;
}


.modal-body p{
	color: #fff;
	padding-bottom: 20px;
}
.modal-content {
    background: #222;
    padding: 20px;
    border-radius: 0;
}

.modal-content .form-control {
    border-radius: 0;
    padding: 10px 15px;
    margin-top: 15px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;

}

.modal-content button.btn {
    background: #79AA00;
    margin-top: 20px;
}


/* modals css end */
@media only screen and (max-width: 992px) {
  .icon-box {
    margin-right: 0px;
    text-align: center;
}

.icon-box .content h4{
	padding: 20px 0px 10px;
}

.test-box{
	margin-top: 30px;
	height: 250px;
}

.test1{
	padding-right: 15px !important;
}
.testimonial-area h3{
	padding-top: 20px;
}
}


@media only screen and (max-width: 667px) {
.bg-content {
	padding: 60px 30px;
}
	.bg-content h2{
		font-size: 32px;
	}
.info-area{
  	margin: -80px 15px 0px;
	}
  .bg-content{
  	margin: 0px 15px;
  }
  .icon-box{
  	border-right: 0;
  	padding-bottom: 30px;
  }

  .pricing h3{
  	padding-bottom: 20px;
  }

  .tab-area {
    display: flex;
    flex-direction: column-reverse;
}

.pricing .button-area button{
	margin-bottom: 20px;
}
.pricing h3 {
	font-size: 26px;
}

.step-3{
	margin: 0px 15px;
}

.test-box {
	height: 360px;
}

.testimonial-area{
	padding: 60px 0px;
}

.test-img img{
	margin-top: 0;
}

}
